@import "settings";
@import "foundation";

// Resets
ul a li {
  list-style: none;
}

.projects h1, .projects h4 {
  margin-top: 0;
}

h1.large-type {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -3px;
}

h6 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.projects a {
  color: inherit;
}

.buffer {
  margin: 12rem;
}

/* ~~~~~~~~~~ HOMEPAGE */

.projects .row {
  margin: 9rem 0;
}

#home .cover {
  padding: 15%;
  position: relative;
  overflow-x: hidden;
  border-bottom: 1px solid #eeeeee;
}

#home .cover h1 {
    color: $white;  
}

#home .cover h3 {
  font-family: $font-family-monospace;
  color: $white;
}

#home .cover .spread {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1650px;
}

#home .cover {
  background: #3B3D47;
  color: #ffffff;
}

.projects {
  h1 {
    letter-spacing: -2px;
    font-weight: bold;
  }
  h3 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0;
  }
}

/* ~~~~~~~~~~ HOMEPAGE - PROJECTS LIST*/

.projects .row img {
  width: 240px;
  box-shadow: 0px 2px 3px 2px rgba(0,0,0, 0.05);
}

.projects .description {
  padding-top: 48px;
}

/* ~~~~~~~~~~ HOMEPAGE - NAVIGATION*/

header {
  background-color: rgba(255,255,255,0.95);
  height: 45px;
  position: fixed;
  top: 0;
  transition: top 0.2s, background-color 300ms linear;
  width: 100%;
}

header .glass {
  background-color: rgba(255,255,255,0);
}

.headroom {
  transition: transform 400ms ease-out, background-color 500ms ease-out;
  z-index: 999;
}

.headroom--pinned {
  transform: translateY(0%);
  
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--top {
  background-color: rgba(255,255,255,0);
  opacity: .65;
  transition: opacity 300ms linear, box-shadow 400ms linear, background-color 300ms linear;
  &:hover {
    opacity: 1.0;
  }
}

.headroom--not-top {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.headroom--top nav {
  background-color: rgba(255,255,255,0);
}

.dark-cover .headroom--top .top-bar-section li:not(.has-form) a:not(.button) {
  color: $white;
}

.headroom--top .top-bar-section ul li {
  background-color: rgba(255,255,255,0);
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: $primary-color;
}

.dark-cover .headroom--top nav h1 {
  color: $white;
}

.name h1 {
  font-weight: bold;
}

nav h6 {
  margin: 0;
  line-height: 45px;
}

.brief h6 {
  margin-top: 6rem;
}

.cover h1 {
  margin-top: 0;
}

/* ~~~~~~~~~~ PROJECTS */
.project img {
  box-shadow: 0px 2px 3px 2px rgba(0,0,0, 0.05);
  border-radius: .26rem;
}

.main-content section {
  padding: 60px 0 120px 0;
}

.project .image {
  margin: 2rem 0 3rem 0;
  position: relative;
}

.cover {
  height: 900px;
  padding-top: 20%;
}

/* ~~~~~~~~~~ TEMPLATES - SIMPLE */

.simple-template .cover {
  background: $design-highlight;
  h1, h4 {
    color: $white;
  }
 }

section.design-highlight.dark-bg {
  background: #3B3D47;
}

section.grey-bg {
  background: #F2F2F6;
}

section.design-highlight {
  background: $design-highlight;
  * {
    color: $white;
  }
}

.simple-template .callout {
  h4 {
    padding: 1rem;
    background: #F9EAB2;
    margin: 0;
  }
  p {
    background: #FFF8DB;  
    padding: 1rem;
  }
}

.simple-template blockquote {
  margin: 2.5rem 0 3rem 0;
  font-size: 2rem;
}

.simple-template .row {
  padding: 12px;
}

.simple-template h4 {
  font-weight: bold;
}

/* ~~~~~~~~~~ TEMPLATES - DATAPAD */

#dp-charting .cover,
#dp-dashboarding .cover,
#dp-onboarding .cover {
  background: #36495B;
  h1, h4 {
    color: $white;
  }
 }

.light-text {
  opacity: .6;
}

.caption {
  margin-top: 6px;
  font-size: .9rem;
  @extend .light-text;
}

@media #{$large-up} {
  .caption {
    position: absolute;
    right: -11rem;
    top: 0;
    margin-top: 0;
  }
}

.tiles li div {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tiles li div h6 {
  margin: 0;
}

.tiles li {
  border: 4px solid $oil;
}

.image.overlay img {
  width: 100%;
  vertical-align: middle;
}

.image.overlay:after, .image:before {
  position: absolute;
  opacity: 0.5;
  transition: all 0.5s;
}

.image.overlay:after {
  content: '\A';
  width: 100%; height: auto;
  top:0;
  left: 0;
  background: #36495B;
}

.image.overlay:before {
  content: '';
  width: 100%;
  height: 100%;
  color: $white;
  z-index: 1;
  bottom: 0;
  padding: 4px 10px;
  text-align: center;
  background: #36495B;
  opacity: 0.95;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
}

.image.overlay:hover:after, .image.overlay:hover:before {
  opacity: 0;
}


.image.overlay .text {
  z-index: 2;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}

.image.overlay .text h6, .image.overlay .text p {
  color: $white;
}

.image.overlay:hover h6, .image.overlay:hover p {
  opacity: 0;
}

hr {
  margin-top: 3rem;
}


/* ~~~~~~~~~~ FOOTER */
.tm div {
  height: 36px;
  margin: 30px 0;
}

/* code for animated blinking cursor */
.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #1FE6CD;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// Alignment Classes

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Animation

@-webkit-keyframes bounceInDown {
  0%, 50%, 100% {
    transition-timing-function: ease-in-out;
  }

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 12px);
  }

  100% {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
