@import "settings";
@import "foundation";

img {
  box-shadow: 0px 2px 3px 2px rgba(0,0,0, 0.05);
  border: 1px solid #eee;
  border-radius: .26rem;
}

nav h6 {
  margin: 0;
  line-height: 45px;
}

.brief h6 {
  margin-top: 6rem;
}

.cover h1 {
  margin-top: 0;
}

h3 {
  font-family: $font-family-serif;
}

.brief {
  margin-bottom: 9rem;
}

.image {
  margin: 2rem 0 3rem 0;
  position: relative;
}

.cover {
  min-height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dp-charting .cover {
  background: #36495B;
  h1, h4 {
    color: $white;
  }
}

h6 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.light-text {
  opacity: .6;
}

.caption {
  margin-top: 6px;
  font-size: .9rem;
  @extend .light-text;
}

@media #{$large-up} {
  .caption {
    position: absolute;
    right: -11rem;
    top: 0;
    margin-top: 0;
  }
}

footer {
  margin: 1rem 0 6rem 0;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
