/bower_components/*
/.sass-cache/*
*.DS_Store
/stylesheets/*
.git.bfg-report/
bfg.jar
npm-debug.log
/img/petlove
/img/happening
petlove.php
happening.php
/img/thinkspace/thinkspace.mp4
.bowerrc
.htaccess
.htpasswd
Onboarding.mp4