RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

AuthUserFile /home/protected/.htpasswd
AuthType Basic
AuthName "Password Protected"

<Files "inkling.php">
  Require valid-user
</Files>