RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

AuthUserFile /fs3e/rayluong/public/.htpasswd
AuthType Basic
AuthName "restricted area"

<Files "inkling.php">
  Require valid-user
</Files>

<Files "petlove.php">
  Require valid-user
</Files>
